<nav class="navbar-default" style="background-color: rgb(33, 33, 241);font-family: 'Gideon Roman', cursive;">
    <div class="container-fluid" style="padding-left: 50px;padding-right: 50px;position: inherit;">
       <div class="row">
        <div class="btn-group mr-3">
          <button type="button" class="btn btn-primary" routerLink="" style="margin-left:100%;margin-right:100%;"><i class="fa fa-anchor"> Home</i></button>
        </div>
        <div class="btn-group mr-3">
          <button type="button" class="btn btn-primary" routerLink="about" style="margin-left:100%;margin-right:100%;"><i class="fa fa-question">About</i></button>
        </div>
        <div class="btn-group mr-3" *ngIf="blogposts.Loggedin">
          <button type="button" class="btn btn-primary" routerLink="newpost" style="margin-left:100%;margin-right:100%;">Post Maken!</button>
        </div>       
              
        <div class="search-container" style="margin-left:25%;">
            <form name="searchForm" (ngSubmit)="onSubmit()">
              <input type="text" placeholder="Search.." name="zoeken">
              <button class="btn btn-primary" routerLink="search" type="submit"  >
                <i class="fa fa-search"></i>Zoeken
              </button>
            </form>              
          </div>               
        <div class="login-container" >
          <form *ngIf="!blogposts.Loggedin" style="margin-left:130%;">
            <input type="text" placeholder="Gebruiker" name="username" id="username"><br>
            <input type="password" placeholder="Wachtwoord" name="password" id="password">
            
          </form>
          
        </div>

        <div>
          <button class="btn btn-primary"  style="margin-left:400%;margin-right:10%" *ngIf="!blogposts.Loggedin" (click)="login()">Login</button>

          <button class="btn btn-primary" *ngIf="blogposts.Loggedin"  style="margin-left:400%;margin-right:10%"(click)="logout()">Log out</button>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  