<div class="Footer">    
  <div class="container" style="padding:10px;">    
    <div ng-app="myApp" ng-controller="datCtrl" style="margin-left:33%;margin-right:17%;">
      <p >Vandaag : {{ today | date }} -- <i class="fa fa-copyright"></i> <u>Tijs en Harald</u><button type="btn btn-primary" style="height:24px;margin-left: 10px;background-color: rgb(82, 114, 255);">
        <a href="#top"><i class="fa fa-anchor" style="size:24px;color: aliceblue;"></i></a>   
      </button></p>      
      </div>     
      <script>
      var app = angular.module('myApp', []);
      app.controller('datCtrl', function($scope) {
          $scope.today = new Date();
      });
      </script>   
  </div>
</div>
