<div class="background">
<br>
<h1><u>Iceland Sailors Gaming Review Board</u></h1>
<br>
<h2><b>Wie zijn we?</b></h2>
<br>
<div style="padding-left:30%;">
    <img src="../assets/img/peppie-kokkie.jpg" height="200px" width="400px" >         
    </div>
    <br>
<p>Wij zijn Peppie en Kokkie, 2 ervaren Hollandse matrozen op de lange vaart, maar daarnaast ook grote liefhebbers van het
    bordspel in al zijn vormen en gedaantes. Na jarenlang boardgames als een pure hobby en vrijetijdsbesteding te hebben gezien,
     kwamen wij op een donkere nacht op de Oostelijke Ijszee op het idee om een blog hierover te beginnen en onze lezers wat inzichten en
    en kennis te verschaffen over de betere boardgames. Onze kennis beperkt zich echter niet hiertoe, we gaan ook soms in op video-games etc. </p>
<br>
<h2><b>Onze missie:</b></h2>
<br>
    <p>De laatste jaren kwamen <u>HEEL wat boardgames</u> op de markt, men kan zelf spreken van een echte boom. 
    Hierdoor werd het voor de doorsnee boardgamegebruiker moeilijk om de <b>kwalitatief</b> goede games te onderscheiden 
    van de eerder generische games die weinig creatief zijn en eigenlijk gewoon de mosterd voor de mechanics elders halen.</p> 
<br>
    <p>En daar komen wij 
    dan op het toneel, via onze <u>Russische connectie</u> in de scheepvaart en onze persoonlijke <u>sponsors</u> hebben wij namelijk toegang tot
    quasi alle <b>games, zeldzame edities en zelfs pre-releases</b>, lang voor de gewone speler hier toegang tot heeft. 
    Door ons te volgen kan jij lang voor iets in de winkel ligt weten of het al dan niet een nader kijkje waard is. <b>Bespaar</b> jezelf een
    pak geld aan die ene miskoop die je had kunnen voorkomen door af en toe hier te komen kijken. Of, wie weet, ontdek je hier wel je volgende 
    <b>verborgen schat</b> die aan je neus zou voorbij gegaan zijn! 
    </p>
    <br>
<h2><b>Wat kunnen we?</b></h2>
<br>
<p>Peppie is de creatieve geest met naast een aanleg tot binnenhalen van gigantische kabeljauw, een jarenlange carrière binnen boardgame-design
    heeft al veel <b>bestsellers</b> op zijn naam staan. Denk maar aan Classics uit ieders kindertijd als:<i> Whack-a-Sailor, Chess-Naval Version en Petanquen</i>. Hij heeft een klare
    kijk op wat vernieuwend is en zijn scherpe pen is gevreesd onder zijn collega-designers. 
</p>
<br>
<p>"The brains of the group". Kokkie is een <b>wiskundig genie</b> met 2 geweigerde field medals op zijn naam staan. Als een meester kan hij 
    heel snel inzicht verwerven in de mechanics van een boardgame, de kansberekening en patronen. In één oogopslag slaagt hij erin om 
    een winnende strategie te ontwikkelen en ziet hij ook onvolmaaktheden, mogelijke exploits  
</p>
<br>
<p>
    Samen vormen wij het geknipte team om voor jou, in het enorme kluwen dat de markt is op dit moment, te gaan zoeken naar wat bij <b>jou</b>
    past en hopen we jou een idee te kunnen geven over de werking van onze besproken spellen en wat tips & tricks.
</p>

<button type="button" style="margin-left:50%;margin-right:50%;background-color:rgb(82, 114, 255);">
    <a href="https://twitter.com/KokkieEnPeppie" style="color:aliceblue" target="_blank">Twitter<i class="fa fa-twitter" style="color: aliceblue;"></i></a>   
  </button>

<br>
<br>
<h2><b>Onze partners:</b></h2>
<div class="logocontainer">
    <div style="padding: 50px;padding-left: 11%;">
    <a href="https://www.beamdog.com/games/baldurs-gate-2-enhanced/" style="padding: 15px;" target="_blank">
    <img src="../assets/img/Baldur.png" height="120px" width="160px"  >
    </a>
    <a href="https://www.qcc.cuny.edu/socialsciences/ppecorino/intro_text/chapter%204%20metaphysics/FLAT_EARTH.htm" style="padding: 15px;" target="_blank">
    <img src="../assets/img/flatearth.png" height="120px" width="160px"  >
    </a>
    <a href="https://caviarrusse.com" style="padding: 15px;" target="_blank">
    <img src="../assets/img/Logocaviar.png" height="120px" width="160px" >
    </a> 
    <a href="https://www.ltonetwork.com/" style="padding: 15px;" target="_blank">
    <img src="../assets/img/lto-logo.png" height="120px" width="160px">
    </a>
    </div>
</div>
</div>
