
<div class = background>
<button *ngIf="isCreated" routerLink="/post" [queryParams]="{'id':id}">go to post</button>
<form>
    <label for="title">Titel</label><br>
    <input type="text" id="title" name="title" style="background-color :rgb(233, 233, 80)"><br>
    <label for="intro">Intro</label><br>
    <textarea id="intro" name="intro" style="background-color :rgb(233, 233, 80);" rows="3" cols="100" ></textarea><br>
    <label for="text">Tekst</label><br>
    <textarea id="text" name="text" style="background-color :rgb(233, 233, 80);" rows="6" cols="100"></textarea><br>
    <p>Tags</p>
    
    <input type="checkbox" id="board"  name="board" value="board"><label for="board">Boardgame</label><br>    
    <input type="checkbox" id="cards" name="cards" value="cards"> <label for="cards">Cardgame</label><br>   
    <input type="checkbox" id="video" name="video" value="video"> <label for="video">Video game</label><br>   
    <input type="checkbox" id="luck" name="luck" value="luck"><label for="luck">Luck</label><br>
    <input type="checkbox" id="strategy" name="strategy" value="strategy"><label for="strategy">Strategy</label> <br>
    <input type="reset" value="Reset" class="btn btn-primary">
</form>
<button (click)="add()" class="btn btn-primary">Submit</button>
</div>