.background{
    background-image: url("/assets/img/background3.jpg");
    background-size: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Gideon Roman', cursive;
    
}
.btn-primary{
    margin:5px;
}
