<div class="background">
<div>
    Filter:  
    <button (click)="filter('board')" class="btn btn-primary" >Boardgames</button>
    <button (click)="filter('cards')" class="btn btn-primary">Cardgames</button>
    <button (click)="filter('strategy')" class="btn btn-primary">Strategy</button>
    <button (click)="filter('luck')" class="btn btn-primary">Luck</button>
    <button (click)="filter('video')" class="btn btn-primary">Video Games</button>
    <button (click)="resetFilters()" class="btn btn-primary">Reset Filters</button><br>
    <ul *ngFor="let filter of activeFilters">
        <li>{{filter}}</li>
    </ul>
</div>

<select id="sort" (change)="sort()" class="custom-select">
    <option value="newest">Recentste eerst</option>
    <option value="oldest">Oudste eerst</option>
    <option value="alpha">A-Z</option>
</select>

<div *ngFor="let post of posts">
    <ng-container *ngIf="post.visible">
    <div style="display:flex">
        <img src={{post.img}} height="200px" width="200px" alt="image for {{post.title}}">
        <div style="padding-left:30px;">
            <h2><b>{{post.title}}</b></h2>
        
            <p>{{post.intro}}</p>
        </div>
        
    </div>
    <button routerLink="post" [queryParams]="{'id':post.id}" class="btn btn-primary">Lees Meer</button>
    <br>
    <br>
    </ng-container>
</div>
<br>
<button (click)="loadMorePosts(3)" class="btn btn-primary">Load More</button>
</div>