.background{
    background-image: url("/assets/img/background5.jpg");
    background-size: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Gideon Roman', cursive;
    min-height:800px;
    padding-top: 10px;
}
.custom-select{
    color: white;
    background-color: rgb(0,123,255);
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    margin-left: 5px;
    margin-right: 5px;
}