<header>  
    <app-header style="top: 0;width: 100%;"></app-header>  
</header>
<body>
<router-outlet></router-outlet>
</body>
<footer>
    <app-footer style="bottom: 0;width: 100%;"></app-footer>
</footer>



