.background{
    background-image: url("/assets/img/background3.jpg");
    background-size: 100%;
    padding-left: 10%;
    padding-right: 30%;
    font-family: 'Gideon Roman', cursive;
}
.btn-primary{
    margin:5px;
}