<div class="background">

<h1><u>{{titel}}</u></h1>
<img src={{imgUrl}} height="400px" alt="image for {{titel}}">
<br>
<br>
<div *ngFor="let paragraph of tekst">
    <p>{{paragraph}}</p>
</div>
<button routerLink="" class="btn btn-primary">Keer Terug</button>
