
<div class="background">
    <h1><b>Zoekmenu</b></h1>
    <br>
    <p><u>Gezocht op term:</u> <i><b>  '{{this.searchparameter}}'</b> </i></p>
<h2>OP TITEL:</h2>
<div *ngFor="let post of titles">
    <ng-container *ngIf="post.visible">
    <div style="display:flex">
        <img src={{post.img}} height="200px" width="200px" alt="image for {{post.title}}">
        <div style="padding-left:30px;">
            <h2><u>{{post.title}}</u></h2>
            <p>{{post.intro}}</p>
        </div>    
    </div>
    <button routerLink="../post" [queryParams]="{'id':post.id}" class="btn btn-primary">Lees Meer</button>
    <br>
    <br>
    </ng-container> 
</div>
<br>
<br>
<br>
<h2>OP INTRO:</h2>
<div *ngFor="let item of intros">   
    <div style="display:flex">
        <img src={{item.img}} height="200px" width="200px" alt="image for {{item.title}}">
        <div style="padding-left:30px;">
            <h2>{{item.title}}</h2>
            <p>{{item.intro}}</p>
        </div> 
    </div>
    <button routerLink="../post" [queryParams]="{'id':item.id}" class="btn btn-primary" >Lees Meer</button>    
</div>
</div>




