.background{
    background-image: url("/assets/img/background9.jpg");
    background-size: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Gideon Roman', cursive;
    min-height:800px;
}
.btn-primary{
    margin:5px;
}